body{
    background: lightgray;
} 

div{
    text-align: center;
    text-shadow: red;
<<<<<<< HEAD
    background: magenta;
=======
    border: 2px solid rgb(128, 0, 75);
    
    
>>>>>>> moduleC
    
}
button{
    background: rgb(11, 71, 238);
    border: 2px solid green;

}